body{
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');
    font-family: "Bebas Neue", sans-serif;
margin: 0;
z-index: 3;
}
header{
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');
font-family: "Bebas Neue", sans-serif;
position: fixed;
margin: 0;
height: 40px;
background-color: rgb(255, 255, 255);
z-index: 4;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
border-radius: 5px;
}
header a{
 text-decoration: none;
 color: rgb(0, 0, 0); 
 background-color: rgba(115, 255, 0, 0.575);
 
 margin: 0;
 padding: 5px;
border-radius: 20px;
}

div{
    color: rgb(255, 255, 255);
    height: 300px;
}
img{
    width: 300px;  
}
#razmer{
    width: 100%;
}
article{
    display: flex;
    justify-content: 
    space-around
     ;
    }

.strok{display: inline;}
h3{
    color: aliceblue;
    font-size: 50px;
} 
.tekst{
 
    font-size: 25px;
}
.perenos{
    font-size: 45px;
    color: aliceblue;
}
#cvet{
font-size: 22px;
flex: 10;
text-align: center;
}
#fon{
background-size: contain;
background-image: url(1719436402.jpg) ;
height: 720px;
}
.beliy{
    color: aliceblue;
}
.kartinka{

    width: 500px;
}
.matsh{
height: 100px;
 width: 350px; 
 background-color: yellowgreen;
 display: flex;
 justify-content: space-around;
 align-items: center;
 border-radius: 20px; 
}
.mini{
    height: 80px;
    width: 100px;
 }



footer{
height: 150px;
background-image: url(bol.jpg);
background-size: cover;
display: flex;
justify-content: flex-end;
align-items: center;
}
.wk{
    width: 100px;
    height: 100px; 
    

}
.telega{
    width:  70px;
    height: 70px; 
    
}
p{
 color: aliceblue;
 font-size: 20px;   
}
nav{
    display: flex; 
    align-items: flex-start;
    justify-content: flex-end;
    flex: 90;
}
.werty{
display: flex;
justify-content: space-around;
align-items: center;
}
#zagolovok
h1{
 color: black; 
   
}
.baner{
background-image:url(bol.jpg);
height: 500px;
display: flex;
justify-content: center;
align-items: center;
}